<head>

  <meta charset="utf-8">

  <title>{{ site.title | escape }}</title>

  <!-- Metatags -->
  {% include metatags.html %}

  <link rel="alternate" href="{{ site.url }}" hreflang="{{ site.locale }}" />

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/skeletonic" media="all" />

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site_url }}/favicon.ico" >

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/atom.xml" | site_url }}">

</head>
