<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body itemscope="" itemtype="http://schema.org/Blog">

    <main class="container text-left">
        <section class="container grid-flex">
            <row class="flex-10">
                <h1>
                    <a href="{{ " / " | site_url }}" style="font-size: 2.986rem;color:#000 !important;">
                        {{ site.title | escape }}
                    </a>
                </h1>
                <img src="{{ "/assets/images/banner.jpg" | site_url }}" alt="Banner" class="size-full-width" />                
            </row>
        </section>

        <section class="container grid-flex">            
            <row class="flex-8">
                {{ content }}
            </row>
            <row class="flex-2">
                <aside class="cards">    
                    <row class="text-center center flex-2 card">
                        {% include sidebar.html %}
                    </row>
                </aside>
            </row>
        </section>            
    </main>

    {% include footer.html %}

</body>

</html>